<footer class="footer">
    <div class="container">
        <div class="row row-lg-eq-height">
            <div class="col-lg-9 order-lg-1 order-2">
                <div class="footer_content">
                    <div class="footer_logo"><a routerLink="#">CDMXtrash</a></div>
                    <div class="footer_social">
                        <ul>
                            <li class="footer_social_facebook"><a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li class="footer_social_twitter"><a href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li class="footer_social_instagram"><a href="https://twitter.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li class="footer_social_google"><a href="https://www.google.com/"><i class="fa fa-google" aria-hidden="true"></i></a></li>
                        </ul>
                        <div class="subscribe_title" i18n>Comparte tu experiencia e invita a tus amigos</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 order-lg-2 order-1">
                <div class="subscribe">
                    <div class="subscribe_background"></div>
                    <div class="subscribe_content">
                        <div class="subscribe_title">CDMXtrash</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>