<!-- Home -->

<div class="home">
    <div class="home_background parallax-window" data-parallax="scroll" data-image-src="images/fondoi.jpg" data-speed="0.8"></div>
    <div class="home_content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <!-- Post Comment -->
                    <div class="post_comment">
                        <div class="contact_form_container">
                            <form action="#">
                                <br><br>
                                <div class="alignCenter">
                                    <p>Ingresa el tipo del bote de basura</p>
                                    <select class="defaultTextBox">
                                    <option value="organico">Orgánico</option>
                                    <option value="inorganico">Inorgánico</option>
                                    <option value="papel">Papel</option>
                                    <option value="pet">PET</option>
                                  </select>
                                </div>
                                <br>
                                <div class="alignCenter">
                                    <p>Ingresa la ubicación ubicación del bote de basura</p>
                                    <img src="images/map.jpg" alt="map" height="350" width="350">
                                </div>
                                <br>
                                <button type="submit" class="contact_button">Enviar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>