<!-- Page Content -->
<div class="page_content">
    <div class="container">
        <div class="row row-lg-eq-height">
            <!-- Main Content -->
            <div class="col-lg-9">
                <div class="main_content">
                    <!-- Blog Section - Don't Miss -->
                    <div class="blog_section">
                        <div class="section_panel d-flex flex-row align-items-center justify-content-start">
                            <div class="section_title">Para recordar</div>
                            <div class="section_tags ml-auto">
                                <ul>
                                    <li><a href="post.html">Conocenos</a></li>
                                    <li><a href="login.html">Log In</a></li>
                                    <li><a href="signin.html">Sign In</a></li>
                                    <li><a href="contact.html">Contáctanos</a></li>
                                    <li><a href="#">Eng</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="section_content">
                            <div class="grid clearfix">
                                <!-- Largest Card With Image -->
                                <div class="card card_largest_with_image grid-item">
                                    <img class="card-img-top" src="assets/fonfoi1.jpg" alt="https://unsplash.com/@cjtagupa">
                                    <div class="card-body">
                                        <div class="card-title"><a href="post.html">¿Quieres saber como funciona la plataforma?</a></div>
                                        <p class="card-text">Contamos con un sistema de geolocalización de los botes más cercanos</p>
                                        <small class="post_meta">Enrique Orduña<span>Marzo 05, 2020 a las 9:48 pm</span></small>
                                    </div>
                                </div>
                                <!-- Small Card Without Image -->
                                <div class="card card_default card_small_no_image grid-item">
                                    <div class="card-body">
                                        <div class="card-title card-title-small"><a href="post.html">¿Sabes de la importancia del reciclaje?</a></div>
                                        <small class="post_meta">Enrique Orduña<span>Marzo 05, 2020 a las 9:48 pm</span></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="load_more">
                    <div id="load_more" class="load_more_button text-center trans_200">Load More</div>
                </div>
            </div>
            <!-- Sidebar -->
            <div class="col-lg-3">
                <div class="sidebar">
                    <div class="sidebar_background">
                        <div class="ribbon-1">B E T A</div>
                    </div>
                    <!-- Advertising -->
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="assets/cona.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Conamat</h5>
                            <p class="card-text">¿Clases de regularización?</p>
                            <a href="#" class="btn btn-primary">Conamat.mx</a>
                        </div>
                    </div>
                    <!-- Advertising 2 -->
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="assets/beca.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Tecnológico de Monterrey</h5>
                            <p class="card-text">Acercate al programa</p>
                            <a href="#" class="btn btn-primary">ITESM.mx</a>
                        </div>
                    </div>
                    <!-- Future Events -->

                    <div class="sidebar_title">Planeación del proyecto</div>
                    <!-- Planeación -->
                    <div class="list-group">
                        <button type="button" class="list-group-item list-group-item-action active">
                            Cras justo odio
                            </button>
                        <button type="button" class="list-group-item list-group-item-action">HTML</button>
                        <button type="button" class="list-group-item list-group-item-action">SASS</button>
                        <button type="button" class="list-group-item list-group-item-action">Angular</button>
                        <button type="button" class="list-group-item list-group-item-action" disabled>Y más...</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>