<!-- Header -->
<header class="header">
    <div class="ribbon-1">B E T A</div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="header_content d-flex flex-row align-items-center justify-content-start">
                    <div class="logo"><a routerLink="index">CDMXtrash</a></div>
                    <nav class="main_nav">
                        <ul>
                            <li i18n><a routerLink="conocenos">Conocenos</a></li>
                            <li i18n><a routerLink="signin">Sign In</a></li>
                            <li i18n><a routerLink="login">Log in</a></li>
                            <li i18n><a routerLink="conocenos">Contactanos</a></li>
                            <li i18n><a routerLink="barra">Graficas</a></li>
                            <li i18n><a routerLink="eng">Eng</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>