<!-- Header -->
<header class="header">
    <div class="ribbon-1">B E T A</div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="header_content d-flex flex-row align-items-center justify-content-start">
                    <div class="logo"><a routerLink="index">CDMXtrash</a></div>
                    <nav class="main_nav">
                        <ul>
                            <li><a routerLink="conocenos" i18n="@@head1">Conocenos</a></li>
                            <li><a routerLink="signin" i18n="@@head2">Sign In</a></li>
                            <li><a routerLink="login" i18n="@@head3">Log in</a></li>
                            <li><a routerLink="conocenos" i18n="@@head4">Contactanos</a></li>
                            <li><a routerLink="barra" i18n="@@head5">Graficas</a></li>
                            <li><a routerLink="eng" i18n="@@head6">Eng</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>