<!-- Page Content -->
<div class="page_content">
    <div class="container">
        <div class="row row-lg-eq-height">
            <!-- Main Content -->
            <div class="col-lg-9">
                <div class="main_content">
                    <!-- Blog Section - Don't Miss -->
                    <div class="blog_section">
                        <div class="section_panel d-flex flex-row align-items-center justify-content-start">
                            <div class="section_title" i18n="@@contenido1">Para recordar</div>
                            <div class="section_tags ml-auto">
                                <ul>
                                    <li i18n="@@contenido2"><a routerLink="conocenos">Conocenos</a></li>
                                    <li i18n="@@contenido3"><a routerLink="login">Log In</a></li>
                                    <li i18n="@@contenido4"><a routerLink="signin">Sign In</a></li>
                                    <li i18n="@@contenido5"><a routerLink="contactanos">Contáctanos</a></li>
                                    <li i18n="@@contenido6"><a routerLink="eng">Eng</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="section_content">
                            <div class="grid clearfix">
                                <!-- Largest Card With Image -->
                                <div class="card card_largest_with_image grid-item">
                                    <img class="card-img-top" src="assets/fonfoi1.jpg" alt="https://unsplash.com/@cjtagupa">
                                    <div class="card-body">
                                        <div class="card-title" i18n="@@contenido7"><a routerLink="barra">¿Quieres saber como funciona la plataforma?</a></div>
                                        <p class="card-text" i18n="@@contenido8">Contamos con un sistema de geolocalización de los botes más cercanos</p>
                                        <small class="post_meta">Enrique Orduña<span i18n="@@contenido9">Marzo 05, 2020 a las 9:48 pm</span></small>
                                    </div>
                                </div>
                                <!-- Small Card Without Image -->
                                <div class="card card_default card_small_no_image grid-item">
                                    <div class="card-body">
                                        <div class="card-title card-title-small" i18n="@@contenido10"><a href="post.html">¿Sabes de la importancia del reciclaje?</a></div>
                                        <small class="post_meta">Enrique Orduña<span i18n="@@contenido11">Marzo 05, 2020 a las 9:48 pm</span></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="load_more">
                    <div id="load_more" class="load_more_button text-center trans_200" i18n="@@contenido12">Load More</div>
                </div>
            </div>
            <!-- Sidebar -->
            <div class="col-lg-3">
                <div class="sidebar">
                    <div class="sidebar_background">
                        <div class="ribbon-1">B E T A</div>
                    </div>
                    <!-- Advertising -->
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="assets/cona.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title" i18n="@@contenido13">Conamat</h5>
                            <p class="card-text" i18n="@@contenido14">¿Clases de regularización?</p>
                            <a href="#" class="btn btn-primary">Conamat.mx</a>
                        </div>
                    </div>
                    <!-- Advertising 2 -->
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="assets/beca.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title" i18n="@@contenido15">Tecnológico de Monterrey</h5>
                            <p class="card-text" i18n="@@contenido16">Acercate al programa</p>
                            <a href="http://lideresdelmanana.itesm.mx/" class="btn btn-primary">Líderes.mx</a>
                        </div>
                    </div>
                    <!-- Future Events -->

                    <div class="sidebar_title" i18n="@@contenido17">Planeación del proyecto</div>
                    <!-- Planeación -->
                    <div class="list-group">
                        <button type="button" class="list-group-item list-group-item-action active">
                            Clases
                            </button>
                        <button type="button" class="list-group-item list-group-item-action" data-i18n="@@contenido18">HTML</button>
                        <button type="button" class="list-group-item list-group-item-action" data-i18n="@@contenido19">SASS</button>
                        <button type="button" class="list-group-item list-group-item-action" data-i18n="@@contenido20">Angular</button>
                        <button type="button" class="list-group-item list-group-item-action" data-i18n="@@contenido21" disabled>Y más...</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>