<!-- Header -->
<header class="header">
    <div class="ribbon-1">B E T A</div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="header_content d-flex flex-row align-items-center justify-content-start">
                    <div class="logo"><a href="#">CDMXtrash</a></div>
                    <nav class="main_nav">
                        <ul>
                            <li><a href="post.html">Conocenos</a></li>
                            <li><a href="signin.html">Sign In</a></li>
                            <li><a href="login.html">Log in</a></li>
                            <li><a href="contact.html">Contactanos</a></li>
                            <li><a href="#">Eng</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>